black==21.7b0
pydantic==1.10.12
openai==0.28.1
llama-index-core
openapi-schema-pydantic==1.2.4
faiss-cpu==1.7.4
langchain==0.0.339
pypdf
tiktoken
matplotlib
seaborn
pandas
fuzzywuzzy
PyYAML
llama-index==0.10.31
unstructured
markdown
python-Levenshtein
